* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030406;
  color: #fff;
  font-family: "Jura", sans-serif;
}

button {
  cursor: pointer;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 4% 15px;
  position: relative;
}

section {
  text-align: center;
  position: relative;
  z-index: 5;
}

section p {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

section h1 {
  font-size: 85px;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 6px;
}

section .input-field {
  margin-top: 40px;
  max-width: 923px;
  width: 100%;
  margin: auto;
  position: relative;
}
section .input-field input {
  width: 100%;
  border: 1px solid;

  border-image-source: linear-gradient(
    91.62deg,
    #ffffff -15.12%,
    rgba(255, 255, 255, 0) 106.92%
  );
  outline: none;
  padding: 26px 5px 26px 22px;
  background-color: transparent;
  color: #fff;
  border: 1px solid;
  border-radius: 22px;
}
section .input-field input:placeholder-shown,
section .input-field input::placeholder {
  color: #fff;
}

section .input-field button {
  position: absolute;
  right: 5px;
  background: radial-gradient(
    92.62% 277.86% at 50% 0%,
    #fe4d00 0%,
    #c70702 100%
  );
  border-radius: 20px;
  padding: 15px 32px;
  font-size: 21px;
  color: #fff;
  outline: none;
  font-weight: 300;
  border: none;
  min-width: 190px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.layer-0,
.layer-1,
.layer-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layer-0 img {
  width: 100%;
  height: 100%;
}
.layer-1 img {
  max-width: 1570px;
  width: 100%;
  transition: transform 0.2s ease-out;
}
header,
footer {
  position: relative;
  z-index: 5;
}

.layer-0 {
  z-index: 0;
}
.layer-1 {
  z-index: 1;
}
.layer-2 {
  z-index: 2;
}

footer p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  section h1 {
    font-size: 40px;
  }

  section p {
    font-size: 14px;
  }
  section .input-field button {
    position: static;
    transform: none;
    margin-top: 20px;
  }
  section .input-field input {
    border-radius: 16px;
  }
  .layer-1 img {
    transform: scale(3.5) !important;
  }
}
